<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIXTRIX GALLERY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Logos/favicon.png') }}">
</head>
<body>
    <div class="matrix-bg"></div>
    
    
    <header>
        <h1 class="title">PIXTRIX GALLERY</h1>
        <p class="tagline">Discover what AI can create from words.</p>
    </header>
    
    <div class="gallery">
        <!-- First Row -->
        <div class="gallery-section">
      
            <div class="portraits-grid">
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait2.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "portrait photo of muscular bearded guy in a worn mech suit, light bokeh, intricate, steel metal, elegant, sharp focus, soft lighting, vibrant colors"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait1.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "(masterpiece), (extremely intricate:1.3), (realistic), portrait of a girl, the most beautiful in the world, (medieval armor), metal reflections, upper body, outdoors, intense sunlight, far away castle, professional photograph of a stunning woman detailed, sharp focus, dramatic, award winning, cinematic lighting, octane render  unreal engine,  volumetrics dtx, (film grain, blurry background, blurry foreground, bokeh, depth of field, sunset, motion blur:1.3), chainmail"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait3.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "cgmech, (realistic) solo, white mecha robot, cape, science fiction, torn clothes, glowing, standing, robot joints, mecha, armor, cowboy shot, (floating cape), intense sunlight, silver dragonborn, outdoors, landscape, nature, ((masterpiece, best quality)),volumetrics dtx, (film grain, blurry background, blurry foreground, bokeh, depth of field, motion blur:1.3)"
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second Row -->
        <div class="gallery-section">
          
            <div class="squares-grid">
                <div class="image-tile square">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Square1.png" alt="">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "photo of a supercar, 8k uhd, high quality, road, sunset, motion blur, depth blur, cinematic, filmic image 4k, 8k with [George Miller's Mad Max style]. The image should be [ultra-realistic], with [high-resolution] captured in [natural light]. The lighting should create [soft shadows] and showcase the [raw] and [vibrant colors], volumetric dtx, depth blur, blurry background, bokeh, (motion blur:1.001)"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile square">
                    <div class="image-placeholder">
                         <img src="../static/ShowImages/Square2.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "A beautiful tree"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile square">
                    <div class="image-placeholder">
                       <img src="../static/ShowImages/Square3.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "A smart looking dog with glasses"
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Third Row -->
         <div class="gallery-section">
      
            <div class="portraits-grid">
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait4.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "Vampire Queen, backlit, intricate details, highly detailed, slate atmosphere, cinematic, dimmed colors, dark shot, muted colors, film grain, lut, spooky, depth blur, blurry background dof, bokeh, realistic, realistic skin"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait5.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "A steampunk very detailed homeless person with highly detailed face on the street of a very highly detailed steampunk city art by Greg Rutkowski, neofuturistic highly detailed, digital concept art, Dimensional cyan gold natural light, sharp focus, Golden Ratio illustration, realistic concept art by Stephen Hickman and James Gurney and Hiromasa Ogura Ghost"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait6.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            " a beautiful woman, shoulder, hair ribbons, by agnes cecile, half body portrait, extremely luminous bright design, (8k, best quality, masterpiece:1.2),(best quality:1.0), (ultra highres:1.0), watercolor,pastel colors, (ink:1.3), autumn lights"
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- fourth Row -->
        <div class="gallery-section">
          
            <div class="squares-grid">
                <div class="image-tile square">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Square4.png" alt="">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "minimalist portrait, man, bright yellow hair in a monochromatic green set, low-poly style, simple geometric shapes and a muted color scheme to create a modern and abstract aesthetic"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile square">
                    <div class="image-placeholder">
                         <img src="../static/ShowImages/Square6.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "a serene mountain lake at sunrise, crystal clear water, pine trees, misty atmosphere, realistic landscape painting, 4k, peaceful and calm mood"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile square">
                    <div class="image-placeholder">
                       <img src="../static/ShowImages/Square5.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "beautiful anime girl, long purple hair, expressive big eyes, school uniform, sunny background, anime style, 2D illustration, sharp lines, highly detailed, vibrant colors, by Makoto Shinkai"
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fifth Row -->
        <div class="gallery-section">
      
            <div class="portraits-grid">
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait9.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "black dragonborn, solo, red eyes, male, upper body, male focus, horns, cape, armor, glowing, glowing eyes
, volumetrics dtx, (film grain, blurry background, blurry foreground, bokeh, depth of field, motion blur, realistic:1.3)
, ((masterpiece, best quality)), art by greg rutkowski  <lora:dragonborn_offset:1>"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait7.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "A solarpunk very highly detailed farmer with very highly detailed face wearing very highly detailed sci-fi Inuit glasses, on the street of a very highly detailed solarpunk city art by Greg Rutkowski, neofuturistic highly detailed, digital concept art, Dimensional cyan gold natural light, sharp focus, Golden Ratio illustration, realistic concept art by Stephen Hickman and James Gurney and Hiromasa Ogura Ghost in the Shell rendered in Octane Render UNREAL ENGINE 5, 32K, From the distance"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait8.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "A stain glassed window of a magical Skelton horse, beauty and the beast stained glass, masterpiece, best quality, 8k, sharp focus, realistic, ((Detailed)), ((Dynamic pose)), ((Good Highlights)), (Perfect Proportions), (dynamic), ((dramatic)), (intricate), ((dramatic angle)), (complimentary colors), (good perspective), (Professional), (Award winning)"
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <!-- Sixth Fifth Row -->
        <div class="gallery-section">
      
            <div class="portraits-grid">
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait10.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "isometric medieval tavern, wooden interior, warm lighting, barrels and tables, stylized game art, pixel perfect, detailed textures"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait11.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "a beautiful elven queen with silver hair and glowing green eyes, wearing a jeweled crown and flowing silk gown, forest background, soft light, fantasy art, ultra detailed, ethereal atmosphere"
                        </div>
                    </div>
                </div>
                
                <div class="image-tile portrait">
                    <div class="image-placeholder">
                        <img src="../static/ShowImages/Protrait12.png" alt="image of girls">
                    </div>
                    <div class="overlay">
                        <div class="prompt-text">
                            "handsome anime boy with messy black hair, wearing a scarf and school blazer, walking in the city during snowfall, soft lighting, anime art, 2D illustration, gentle color tones, by Makoto Shinkai"
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    
 <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

</body>
</html>